<html style="font-family: sans-serif; font-family: sans-serif; background: #1e1e1e; color: white;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="height: 100%; width: 100%; margin: 0; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <div style="border-bottom: 2px solid #e7571f !important; min-width: 50%; text-align: center; margin-bottom: 0.5rem;">
    <span style="font-size: 3rem; letter-spacing: 0.15em;">{{ placeholder "http.error.status_code" }} <nobr>{{ placeholder "http.error.status_text" }}</nobr></span>
  </div>
  <div style="margin-bottom: 30vh;">Request-Id: {{ placeholder "http.error.id" }}</div>
</body>

</html>
